version: '3'

services:
  sonarqube:
    image: sonarqube:community
    container_name: sonarqube_confmanager
    restart: unless-stopped
    ports:
      - "9000:9000"
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_logs:/opt/sonarqube/logs
    depends_on:
      - db
    networks:
      - sonarnet

  db:
    image: postgres:15
    container_name: postgres_sonar
    restart: unless-stopped
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonar
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - sonarnet

networks:
  sonarnet:


volumes:
  sonar_data:
  sonar_extensions:
  sonar_logs:
  postgres_data:
